<div class="btn-toolbar ml-auto">
  <div class="btn-group mr-2">
      <a href="{% url 'export-csv-income' %}" class="btn btn-outline-secondary export disabled">CSV</a>
      <a href="{% url 'export-xlsx-income' %}" class="btn btn-outline-secondary export disabled">Excel</a>
      <a href="{% url 'export-pdf-income' %}" class="btn btn-outline-secondary export disabled">PDF</a>
  </div>
      <div class="btn-group btn-group-toggle mr-2" data-toggle="buttons">
          <button class="btn btn-outline-primary disabled" id="7days"><span data-feather="calendar"></span> Last 7 days</button>
          <button class="btn btn-outline-primary disabled" id="30days"><span data-feather="calendar"></span> Last 30 days</button>
      </div>
  <a href="{% url 'add-income' %}" class="btn btn-primary disabled"><span data-feather="plus"></span> ADD INCOME</a>
</div>