<div class="btn-toolbar ml-auto">
  <div class="btn-group mr-2">
      <a href="{% url 'export-csv-expenses' %}" class="btn btn-outline-secondary export">CSV</a>
      <a href="{% url 'export-xlsx-expenses' %}" class="btn btn-outline-secondary export">Excel</a>
      <a href="{% url 'export-pdf-expenses' %}" class="btn btn-outline-secondary export">PDF</a>
  </div>
      <div class="btn-group btn-group-toggle mr-2" data-toggle="buttons">
          <button class="btn btn-outline-primary" id="7days"><span data-feather="calendar"></span> Last 7 days</button>
          <button class="btn btn-outline-primary" id="30days"><span data-feather="calendar"></span> Last 30 days</button>
      </div>
  <a href="{% url 'add-expense' %}" class="btn btn-primary"><span data-feather="plus"></span> ADD EXPENSE</a>
</div>