{% extends 'layout/layout_index.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% include 'partials/_messages.html'%}
                <h1>Edit Income</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb my-3">
                      <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                      <li class="breadcrumb-item"><a href="{% url 'income' %}">My Income</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Edit Income</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="card w-100">
                <div class="card-body">
                    <form action="{% url 'edit-income' income_id %}" method="POST">
                        {% csrf_token %}
                        <div class="input-group my-3">
                            <input type="number" step=".01" class="form-control" placeholder="Amount" name="amount" value="{{ income.amount }}" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <a href="{% url 'preferences'%}"><span class="input-group-text" id="basic-addon2">{{ user.currency }}</span></a>
                            </div>
                        </div>
                        <div class="input-group my-3">
                            <input type="text" class="form-control" placeholder="Description" name="description" value="{{ income.description }}">
                        </div>
                        <div class="input-group my-3">
                            <select class="form-control" name="source">
                                {% if selected_source %}
                                    {% for source in sources %}
                                        {% if source == selected_source %}
                                            <option name="source" value="{{ source.id }}" selected>{{ source.name }}</option>
                                        {% else %}
                                            <option name="source" value="{{ source.id }}">{{ source.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <option name="source" value="" disabled selected>Select source</option>
                                    {% for source in sources %}
                                        <option name="source" value="{{ source.id }}">{{ source.name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="input-group my-3">
                            <input type="text" class="form-control" placeholder="Date of Income" name="income_date" onfocus="(this.type='date')" value="{{ income.income_date|date:'Y-m-d' }}">
                        </div>
                        <input type="submit" class="btn btn-outline-dark btn-sm" value="Edit Income">
                        <a href="{% url 'delete-income' income.id %}" type="button" class="btn btn-dark btn-sm float-right">Delete</a>
                    </form>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}